@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* { margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body{
    width: 100%;
    font-family: 'Lexend';
}

nav{
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5EFE5;
    border-bottom: 3px solid #653F2C;
    position: sticky;
    top: 0;
    z-index: 1000; 
}

.nav-links ul, .nav-links li, .nav-links a{
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: #653F2C;
    font-weight: bold;
    transition: transform 0.15s ease-out;
}

.nav-links a:hover{
    transform: translateY(-3px);
}


.best-seller-products-container, .arabica-products-container, .robusta-products-container{
    margin: 30px 0;
}

.cart-container{
    margin: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

.cart-button button{
    height: 50px;
    border-radius: 25px;
    border: none;
    font-family: "Lexend";
    background-color: #653F2C;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.15s ease-out, box-shadow 0.2s ease;
}

.cart-button a{
    height: 35px;
    border-radius: 25px;
    border: none;
    padding: 10px;
    color: #F5EFE5;
    text-decoration: none;
    font-family: "Lexend";
    background-color: #653F2C;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.15s ease-out, box-shadow 0.2s ease;
}

.cart-button button:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}

.best-seller-products-container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #653F2C;
    padding: 25px 0;
}

.bp-card-container, .ap-card-container, .rp-card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    justify-content: center;
}

.bp-card, .ap-card, .rp-card{
    background-color: #F5EFE5;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    transition: transform 0.15s ease-out;
}

.bp-card:hover, .ap-card:hover, .rp-card:hover{
    transform: translateY(-4px);

}

.bp-card-content, .ap-card-content, .rp-card-content{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.product-title{
    text-align: center;
    padding: 5px;
    color: #653F2C;
}

.product-detail{
    text-align: left;
    font-size: 12px;
    padding: 10px 0;
    font-weight: 350;
    color: #653F2C;
    
}

.bp-card img, .ap-card img, .rp-card img{
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.buy-btn{
    height: 35px;
    border-radius: 5px;
    border: none;
    color: #F5EFE5;
    font-family: "Lexend";
    background-color: #653F2C;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.15s ease-out, box-shadow 0.2s ease;
}

.buy-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}

footer {
    background-color: #653F2C;
    color: #F5EFE5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
}

.copyright {
    margin-bottom: 10px;
    font-size: 12px;
}

.contact-info {
    font-style: normal;
    line-height: 1.5;
}

footer a {
    color: #F5EFE5;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #E0C7A9;
}